.App {
  text-align: center;
}

.welcome {
  height: 400px;
  width: auto;
}

.prize {
  height: 300px;
  width: auto;
}

.game {
  height: 300px;
  width: auto;
}

#watch {
  height: 200px;
  width: auto;
}

#car {
  height: 250px;
  width: auto;
}

.thePrizes {
  display: inline-flex;
  align-items: flex-end
}